.site-footer {
  padding-top: rem(95);
  padding-bottom: rem(90);

  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(35);
  }
}


.site-footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: rem(80);

  @include mq("md") {
    display: block;
  }
}

.site-footer__brand {
  flex-shrink: 0;
}

.site-footer__logo {
  display: block;
  width: rem(220);

  @include mq("md") {
    width: rem(185);
  }
}

.site-footer__certifications {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: rem(13);
  margin-top: rem(37);
}

.site-footer__certifications img {
  width: 100%;
  height: rem(71);
  object-fit: contain;
  object-position: left center;
}

.site-footer__navigation {
  width: 100%;

  @include mq("md") {
    margin-top: rem(55);
  }
}

.site-footer__nav {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: rem(80);

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: rem(40) rem(24);
  }
}

.site-footer__nav-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.site-footer__nav-group:last-child {
  @include mq("md") {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: rem(12) rem(24);
  }
}

.site-footer__nav-heading {
  @include font(18, 40, 0, $medium);

  @include mq("md") {
    @include font(15, 28, 0, $medium);
  }
}

.site-footer__nav-heading + .site-footer__nav-link{
  margin-top: rem(15);
}

.site-footer__nav-link {
  color: #615d5d;
  @include font(17, 30, 0, $medium);

  @include mq("md") {
    @include font(14, 27, 0, $medium);
  }
}

.site-footer__nav-heading:hover,
.site-footer__nav-link:hover {
  @media (hover: hover) {
    color: $blue;
  }
}

.site-footer__buttons {
  display: flex;
  justify-content: flex-end;
  gap: rem(15);
  margin-top: rem(62);

  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: rem(40);
  }
}

.site-footer__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(15);
  min-width: rem(150);
  min-height: rem(50);
  padding-right: rem(16);
  padding-left: rem(21);
  border-radius: rem(25);
  color: $white;
  font-family: $en;
  @include font(15, 20, 0, $bold);

  @include mq("md") {
    min-width: 0;
  }
}

.site-footer__button--recruit {
  background-color: $blue;
}

.site-footer__button--contact {
  background-color: #2590d3;
}

.site-footer__button:hover {
  @media (hover: hover) {
    filter: brightness(1.1);
  }
}

.site-footer__button-icon {
  width: rem(24);
  height: rem(24);
  background-color: $navy;
}

.site-footer__button-icon img {
  width: rem(11);
  filter: brightness(0) invert(1);
}

.site-footer__concept {
  display: flex;
  align-items: center;
  gap: rem(68);
  width: fit-content;
  margin-top: rem(46);

  @include mq("md") {
    width: 100%;
    gap: rem(15);
    margin-top: rem(70);
  }
}

.site-footer__concept-mark {
  width: rem(351);
  height: auto;
  flex-shrink: 0;

  @include mq("md") {
    width: rem(145);
  }
}

.site-footer__concept-copy {
  font-family: $serif;
  white-space: nowrap;
  @include font(47, 76, 400, $regular);

  @include mq("md") {
    @include font(22, 38, 400, $regular);
  }
}

.site-footer__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: rem(40);
  margin-top: rem(76);

  @include mq("md") {
    align-items: flex-start;
    flex-direction: column;
    margin-top: rem(50);
  }
}

.site-footer__description {
  color: #999999;
  @include font(20, 24, 0, $regular);

  @include mq("md") {
    @include font(14, 24, 0, $regular);
  }
}

.site-footer__copyright {
  margin-top: rem(20);
  color: #999999;
  font-family: $en;
  @include font(10, 32, 0, $regular);
}

.site-footer__socials {
  display: flex;
  align-items: center;
  gap: rem(27);
}

.site-footer__social-link {
  display: block;
  width: rem(29);
}

.site-footer__social-link:hover {
  @media (hover: hover) {
    opacity: 0.6;
  }
}
