.sub-service__first-view {
  position: relative;
}

.sub-service__fv {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sub-service__fv-image {
  width: 100%;
}

.sub-service__fv-image img {
  display: block;
  width: 100%;
  height: auto;
}

.sub-service__fv-heading {
  position: absolute;
  left: rem(110);
  bottom: rem(115);
  color: $white;

  @include mq("lg") {
    left: rem(64);
    bottom: rem(92);
  }

  @include mq("md") {
    left: rem(20);
    bottom: rem(48);
  }
}

.sub-service__fv-title {
  font-family: $en;
  @include font(120, 140, 20, $bold);

  @include mq("md") {
    @include font(40, 44, 0, $bold);
  }
}

.sub-service__fv-subtitle {
  margin-top: rem(5);
  @include font(24, 27, 0, $bold);

  @include mq("md") {
    @include font(13, 18, 50, $bold);
  }
}

.sub-service__intro {
  padding-top: rem(130);

  @include mq("md") {
    padding-top: rem(65);
  }
}

.sub-service__intro-inner {
  display: grid;
  grid-template-columns: minmax(0, rem(760)) minmax(rem(280), rem(320));
  justify-content: space-between;
  gap: rem(112);

  @include mq("lg") {
    gap: rem(50);
  }

  @include mq("md") {
    display: block;
  }
}

.sub-service__intro-title {
  @include font(42, 64, 0, $bold);

  @include mq("lg") {
    @include font(34, 54, 50, $bold);
  }

  @include mq("md") {
    @include font(27, 43, 30, $bold);
  }
}

.sub-service__intro-text {
  margin-top: rem(60);
  @include font(20, 40, -20, $regular);

  @include mq("md") {
    margin-top: rem(34);
    @include font(14, 28, 20, $regular);
  }
}

.sub-service__contents {

  @include mq("md") {
    margin-top: rem(52);
  }
}

.sub-service__contents-title {
  color: $blue;
  font-family: $en;
  @include font(24, 40, 20, $semi);

  @include mq("md") {
    @include font(18, 28, 20, $semi);
  }
}

.sub-service__contents-list {
  margin-top: rem(5);
}

.sub-service__contents-item {
  border-bottom: rem(1) solid #cccccc;
}

.sub-service__contents-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: rem(68);
  gap: rem(20);
  @include font(18, 22, 0, $bold);

  @include mq("md") {
    min-height: rem(56);
    @include font(15, 22, 0, $bold);
  }
}

.sub-service__contents-link:hover {
  @media (hover: hover) {
    color: $blue;
  }
}

.sub-service__contents-icon {
  width: rem(24);
  height: rem(24);
  background-color: $light-blue;
}

.sub-service__contents-icon img {
  width: rem(10);
}

.sub-service__overview {
  padding-top: rem(150);

  @include mq("md") {
    padding-top: rem(95);
  }
}

.sub-service__section-heading {
}

.sub-service__section-title {
  color: $blue;
  font-family: $en;
  @include font(84, 84, 20, $semi);

  @include mq("md") {
    @include font(42, 46, 0, $semi);
  }
}

.sub-service__section-subtitle {
  margin-top: rem(22);
  color: $blue;
  @include font(24, 24, 0, $bold);

  @include mq("md") {
    @include font(14, 22, 50, $bold);
  }
}

.sub-service__list {
  margin-top: rem(95);

  @include mq("md") {
    margin-top: rem(55);
  }
}

.sub-service__item {
  scroll-margin-top: rem(20);
}

.sub-service__item + .sub-service__item {
  margin-top: rem(130);

  @include mq("md") {
    margin-top: rem(72);
  }
}

.sub-service__item-image {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
}

.sub-service__item-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-service__item-body {
  display: grid;
  grid-template-columns: rem(170) minmax(0, 1fr);
  gap: rem(44);
  margin-top: rem(88);
  margin-right: auto;
  margin-left: auto;

  @include mq("lg") {
    grid-template-columns: rem(145) minmax(0, 1fr);
    gap: rem(30);
    max-width: rem(1020);
  }

  @include mq("md") {
    display: block;
    margin-top: rem(32);
  }
}

.sub-service__item-number {
  display: flex;
  flex-direction: column;
  height: rem(220);
  border-right: rem(1) solid $black;

  @include mq("md") {
    display: grid;
    grid-template-columns: auto auto;
    align-items: end;
    justify-content: start;
    gap: rem(9);
 height: auto;
    padding-top: 0;
    border-right: 0;
  }
}

.sub-service__item-number-label {
  color: $blue;
  font-family: $en;
  @include font(12, 32, 200, $medium);

  @include mq("md") {
    padding-bottom: rem(7);
  }
}

.sub-service__item-number-value {
  margin-top: rem(6);
  color: $blue;
  font-family: $en;
  @include font(96, 96, 20, $semi);

  @include mq("md") {
    margin-top: 0;
    @include font(45, 48, 0, $semi);
  }
}

.sub-service__item-content {
  @include mq("md") {
    margin-top: rem(22);
  }
}

.sub-service__item-title {
  @include font(42, 64, 0, $bold);

  @include mq("md") {
    @include font(24, 35, 20, $bold);
  }
}

.sub-service__item-lead {
  margin-top: rem(40);
  @include font(24, 28, 0, $bold);

  @include mq("md") {
    margin-top: rem(20);
    @include font(15, 25, -20, $bold);
  }
}

.sub-service__item-text {
  margin-top: rem(25);
  @include font(20, 40, -20, $regular);

  @include mq("md") {
    margin-top: rem(18);
    @include font(14, 28, -20, $regular);
  }
}

.sub-service__item-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(30);
  width: fit-content;
  min-width: rem(360);
  min-height: rem(96);
  padding-right: rem(18);
  padding-left: rem(51);
  margin-top: rem(25);
  margin-left: auto;
  border: rem(1) solid $blue;
  border-radius: rem(48);
  background-color: $blue;
  color: $white;
  @include font(24,48, 0, $bold);

  @include mq("md") {
    min-width: rem(220);
    min-height: rem(58);
    padding-right: rem(10);
    padding-left: rem(27);
    @include font(15, 24, 0, $bold);
  }
}

.sub-service__item-button:hover {
  @media (hover: hover) {
    background-color: $white;
    color: $blue;
  }
}

.sub-service__item-button-icon {
  width: rem(64);
  height: rem(64);
  background-color: $navy;

  @include mq("md") {
    width: rem(38);
    height: rem(38);
  }
}

.sub-service__item-button-icon img {
  width: rem(20);
  filter: brightness(0) invert(1);
}

.sub-service__unwanted-details {
  margin-top: rem(95);

  @include mq("md") {
    margin-top: rem(60);
  }
}

.sub-service__unwanted-features {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: rem(27);

  @include mq("lg") {
    gap: rem(20);
  }

  @include mq("md") {
    grid-template-columns: 1fr;
    gap: rem(15);
  }
}

.sub-service__unwanted-feature {
  display: grid;
  grid-template-rows: rem(80) 1fr;
  align-content: start;
  min-height: rem(300);
  padding-top: rem(28);
padding-inline: rem(25);
  border-radius: rem(10);
  background-color: $light-blue;

  @include mq("lg") {
    grid-template-rows: rem(80) 1fr;
    min-height: rem(270);
    padding-right: rem(24);
    padding-left: rem(24);
  }

  @include mq("md") {
    grid-template-rows: auto auto;
    min-height: 0;
    padding-top: rem(25);
    padding-right: rem(22);
    padding-bottom: rem(27);
    padding-left: rem(22);
  }
}

.sub-service__unwanted-feature-title {
  color: $blue;
  @include font(18, 32, 0, $bold);

  @include mq("lg") {
    @include font(17, 29, 20, $bold);
  }
}

.sub-service__unwanted-feature-text {
  margin-top: rem(28);
  @include font(14, 28, -20, $regular);

  @include mq("lg") {
    @include font(13, 25, -20, $regular);
  }

  @include mq("md") {
    margin-top: rem(18);
    @include font(14, 28, -20, $regular);
  }
}

.sub-service__collection {
  margin-top: rem(95);

  @include mq("md") {
    margin-top: rem(60);
  }
}

.sub-service__collection-title {
  padding-bottom: rem(15);
  border-bottom: rem(1) solid $black;
  @include font(24, 36, 0, $regular);

  @include mq("md") {
    padding-bottom: rem(10);
    @include font(20, 31, 0, $regular);
  }
}

.sub-service__collection-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: rem(27);
  margin-top: rem(45);

  @include mq("lg") {
    gap: rem(20);
  }

  @include mq("md") {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: rem(35) rem(15);
    margin-top: rem(30);
  }
}

.sub-service__collection-image {
width: 100%;

  @include mq("md") {
    height: rem(120);
    border-radius: rem(7);
  }
}

.sub-service__collection-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-service__collection-item {
  display: grid;
  grid-template-rows: auto rem(78) 1fr;
  align-content: start;

  @include mq("md") {
    grid-template-rows: auto rem(60) 1fr;
  }
}

.sub-service__collection-item-title {
  margin-top: rem(22);
  text-align: center;
  @include font(18, 32, 0, $bold);

  @include mq("md") {
    margin-top: rem(14);
    @include font(14, 23, 0, $bold);
  }
}

.sub-service__collection-text {
  margin-top: rem(12);
  @include font(14, 28, -20, $regular);

  @include mq("md") {
    margin-top: rem(15);
    @include font(14, 26, -20, $regular);
  }
}

.sub-service__price {
  margin-top: rem(106);

  @include mq("md") {
    margin-top: rem(65);
  }
}

.sub-service__price-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: rem(22);
  margin-top: rem(35);

  @include mq("md") {
    grid-template-columns: 1fr;
    gap: rem(42);
    margin-top: rem(30);
  }
}

.sub-service__price-image {
  overflow: hidden;
  width: 100%;

  @include mq("lg") {
    height: rem(210);
  }

  @include mq("md") {
    height: rem(220);
    border-radius: rem(10);
  }
}

.sub-service__price-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-service__price-title {
  margin-top: rem(27);
  margin-bottom: 0;
  text-align: center;
  @include font(24, 30, 0, $bold);

  @include mq("md") {
    margin-top: rem(17);
    @include font(15, 24, 20, $bold);
  }
}

.sub-service__price-value {
  margin-top: rem(25);
  color: $blue;
  text-align: center;
  font-family: $en;
  @include font(36, 38, 0, $semi);

  @include mq("md") {
    @include font(22, 31, 0, $semi);
  }
}

.sub-service__price-notes {
  margin-top: rem(50);

  @include mq("md") {
    margin-top: rem(35);
  }
}

.sub-service__price-note {
  @include font(20, 40, 0, $regular);

  @include mq("md") {
    @include font(11, 21, 0, $regular);
  }
}


.sub-service__comparison {
  margin-top: rem(96);

  @include mq("md") {
    margin-top: rem(70);
  }
}

.sub-service__flow {
  margin-top: rem(109);

  @include mq("md") {
    margin-top: rem(70);
  }
}

.sub-service__contact {
  padding-top: rem(140);

  @include mq("md") {
    padding-top: rem(90);
  }
}

.sub-service__house-cleaning {
  padding-top: rem(150);

  @include mq("md") {
    padding-top: rem(85);
  }
}

.sub-service__house-cleaning-inner {
}

.sub-service__recycled-products {
  margin-top: rem(96);

  @include mq("md") {
    margin-top: rem(75);
  }
}

.sub-service__recycled-products-heading {
  padding-bottom: rem(16);
  border-bottom: rem(1) solid $black;
  @include font(24, 48, 0, $regular);

  @include mq("md") {
    padding-bottom: rem(11);
    @include font(19, 30, 0, $regular);
  }
}

.sub-service__recycled-products-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: rem(23);
  margin-top: rem(37);

  @include mq("lg") {
    gap: rem(22);
  }

  @include mq("md") {
    grid-template-columns: 1fr;
    gap: rem(55);
    margin-top: rem(32);
  }
}

.sub-service__recycled-product-image {
width: 100%;
}

.sub-service__recycled-product-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-service__recycled-product-title {
  margin-top: rem(35);
  text-align: center;
  @include font(24, 27, 0, $bold);

  @include mq("md") {
    margin-top: rem(16);
    @include font(16, 26, 0, $bold);
  }
}

.sub-service__recycled-product-information,
.sub-service__recycled-product-description,
.sub-service__recycled-product-price {
  margin-top: rem(40);
  @include font(16, 32, -20, $regular);

  @include mq("md") {
    margin-top: rem(18);
    @include font(14, 26, -20, $regular);
  }
}

.sub-service__house-cleaning-flow {
  margin-top: rem(120);

  @include mq("md") {
    margin-top: rem(75);
  }
}

.sub-service__overseas {
  padding-top: rem(135);
  padding-bottom: rem(130);

  @include mq("md") {
    padding-top: rem(85);
    padding-bottom: rem(85);
  }
}

.sub-service__overseas-inner {
}

.sub-service__overseas-details {
  margin-top: rem(90);

  @include mq("md") {
    margin-top: rem(75);
  }
}

.sub-service__overseas-section + .sub-service__overseas-section {
  margin-top: rem(90);

  @include mq("md") {
    margin-top: rem(70);
  }
}

.sub-service__overseas-text {
  margin-top: rem(51);
  @include font(20,40, -20, $regular);

  @include mq("md") {
    margin-top: rem(27);
    @include font(14, 28, 20, $regular);
  }
}

.sub-service__overseas-text p + p {
  margin-top: rem(4);
}

.sub-service__overseas-wide-image {
  margin-top: rem(60);
  overflow: hidden;


  @include mq("md") {
    margin-top: rem(40);
  }
}

.sub-service__overseas-wide-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-service__overseas-text--after-image {
  margin-top: rem(80);

  @include mq("md") {
    margin-top: rem(35);
  }
}

.sub-service__overseas-gallery {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: rem(75);
  margin-top: rem(45);

  @include mq("lg") {
    gap: rem(40);
  }

  @include mq("md") {
    grid-template-columns: 1fr;
    gap: rem(35);
    margin-top: rem(30);
  }
}

.sub-service__overseas-gallery-image {
width: 100%;
}

.sub-service__overseas-gallery-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-service__overseas-caption {
  margin-top: rem(30);
  @include font(20, 40, -20, $regular);

  @include mq("md") {
    margin-top: rem(14);
    @include font(12, 22, -20, $regular);
  }
}

.sub-service__partner-intro {
  display: grid;
  grid-template-columns: rem(560) minmax(0, 1fr);
  gap: rem(50);
  margin-top: rem(78);

  @include mq("lg") {
    grid-template-columns: rem(450) minmax(0, 1fr);
    gap: rem(40);
  }

  @include mq("md") {
    display: block;
    margin-top: rem(40);
  }
}

.sub-service__partner-image {
width: 100%;
}

.sub-service__partner-image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-service__partner-content {

  @include mq("md") {
    margin-top: rem(28);
  }
}

.sub-service__partner-name {
  font-family: $en;
  @include font(24, 32, 0, $bold);

  @include mq("md") {
    @include font(18, 28, 0, $bold);
  }
}

.sub-service__partner-text {
  margin-top: rem(41);
  @include font(16, 32, -20, $regular);

  @include mq("md") {
    margin-top: rem(18);
    @include font(14, 27, -20, $regular);
  }
}

.sub-service__partner-text p + p {
  margin-top: rem(25);
}

.sub-service__partner-profile {
  margin-top: rem(100);

  @include mq("md") {
    margin-top: rem(50);
  }
}

.sub-service__partner-profile-row {
  display: grid;
  grid-template-columns: rem(85) minmax(0, 1fr);
  align-items: baseline;
  gap: rem(70);
  padding-top: rem(25);
  padding-bottom: rem(25);
  border-bottom: rem(1) solid #dcdcdc;

  @include mq("md") {
    display: block;
    padding-top: rem(20);
    padding-bottom: rem(20);
  }
}

.sub-service__partner-profile-row:first-child{
  padding-top: 0;
}

.sub-service__partner-profile-term {
  @include font(16, 24, 0, $bold);
}

.sub-service__partner-profile-description {
  @include font(16, 40, 0, $regular);

  @include mq("md") {
    margin-top: rem(8);
    @include font(14, 26, 0, $regular);
  }
}

.sub-service__partner-map {
width: 100%;
  margin-top: rem(60);
}

.sub-service__partner-map img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-service__visual-contact {
  width: 100%;
}
